<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>191674454720-tmo8okcm5a28ggd4abh9rggrlvgkrq49.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.191674454720-tmo8okcm5a28ggd4abh9rggrlvgkrq49</string>
	<key>API_KEY</key>
	<string>AIzaSyDP0N8EAQBiJLeZPJxhu4FbtgswDXAT3xo</string>
	<key>GCM_SENDER_ID</key>
	<string>191674454720</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>oneday-letter</string>
	<key>PROJECT_ID</key>
	<string>oneday-letter</string>
	<key>STORAGE_BUCKET</key>
	<string>oneday-letter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:191674454720:ios:359f335773bf364af09325</string>
</dict>
</plist>